#courseTab{
	padding: 0px 0px 0px 110px;
}

#details{
	padding: 0px 150px 0px 50px;
	zoom: 1.1;
}

#teacher{
	padding: 0px 0px 0px 280px;
}

::placeholder{
	color : gray;
}



#side{
	
	position: absolute;
 	 right: 0;
 	 padding: 0px 200px 0px 0px;

}

div{
	color:#333333;
	font-family: 'Palatino Linotype', 'Book Antiqua'
}
